header{
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-inner {
    position: relative; 
    overflow: hidden;   
}

.card-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
    padding: 5px;
    text-align: center;
}

.card-inner:hover .overlay {
    opacity: 1; 
}

.category-tag{
    font-size: 0.8rem;
    background: black;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    display: inline-block;
    margin-top: 5px;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
}

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
    border:  1px solid black;
    padding: 10px;
}
button:hover{
    background-color: grey;
}

@media(max-width:768px){
    section{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr) ; 
    }
}

@media(max-width: 480px){
    section{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr) ; 
    }
}